  <ng-container>
    <div i18n="@@personalDetailsTitle" class="relative w-full mb-[18px] text-lg uppercase text-primary cursor-default break-inside-avoid">Personal Details</div>
    <div class="flex flex-wrap items-center w-full relative p-0">
      <div class="mb-2">
        <span i18n="@@personalWorkAuthorization" class="text-xs font-normal uppercase text-primary mb-1 pr-1">Work Authorization</span>
        <div class="text-xs font-thin mb-2" style="color: var(--clr-gray-800)">{{ cvPersonalDetailsData().arbeitsErlaubnis }}</div>
      </div>
    </div>
  </ng-container>
