 <div class="w-full py-8">
    <h2 class="h2--primary pb-2 mb-4">Personal Details</h2>
    <div class="flex flex-row justify-between">
        <div >
            <div class="experience__role-font font-ubuntu-bold"> Nationality </div>
            <div class="experience__tasks-font">Colombian </div>
        </div>
        <div>
            <div class="experience__role-font font-ubuntu-bold"> Visa status </div>
            <div class="experience__tasks-font">Chancenkarte / Opportunity Card</div>
        </div>

    </div>
</div>
