 <div class="w-full p-5">
    <h2 i18n="@@personalDetailsTitle" class="h2--primary pb-2 mb-4">Personal Details</h2>
    <div  class="mb-2" >
        <div i18n="@@personalWorkAuthorization" class="experience__role-font font-ubuntu-bold"> Work Authorization </div>
        <div class="experience__tasks-font">{{cvPersonalDetailsData().workStatus}} </div>
    </div>
    <div  class="mb-2" >
        <div i18n="@@personalDetailsVisum" class="experience__role-font font-ubuntu-bold"> Visa status </div>
        <div class="experience__tasks-font">{{cvPersonalDetailsData().visaStatus}}</div>
    </div>
</div>
