





.block-item 
{    
    display: block;
    break-inside: auto;
        display: block;
    break-inside: auto;
    
    padding-top: 26.2972px;
    padding-bottom: 26.2972px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: -7.01259px;
      height: 1px;
      background-color: rgb(128, 129, 131);
    }
}

.BlockItems {
      display: block;
    margin-top: 21.0378px;
    position: relative;
}

.UnbreakableView {
  display: block;
  break-inside: auto;

}

.BlockInnerItem {
  display: block;
  position:relative;
}

.BlockNestedItem {
  display: table;
  width: 100%;
}

.DraggableElement {
  height: auto;
  width: auto;
}
.BlockingSection {
      z-index: 99;
    padding: 0px 28.0504px;
    break-inside: auto !important;
}

.heading-parent {
     padding-top: 30.3879px;
    padding-bottom: 25.7128px;
}
.heading-wrapper {
   

  font-family: Ubuntu;
  font-size: 18.7003px;
  text-transform: uppercase;
  margin-bottom: 21.0378px;
  word-break: break-word;
  break-inside: avoid;
  color: rgb(44, 58, 75);


  &::after {
      content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -4.67506px;
  height: 1.16877px;
  background-color: rgb(188, 190, 192);
  }
}

.heading {
  position: relative;
  cursor: default;
  width: 100%;
}

.LeftSide {
  display: table-cell;
  padding: 0 20px 8px 0;
  width: 25%;
  break-inside: avoid;
  position: relative;
}

.LeftSideChild {

}

.RightSide {
    width: 65%;
    display: table-cell;
    padding-top: 24px;
    position: relative;
}

.RightSideChild {
  display: block;
  position: relative;
  padding-left: 11px;
}

.SubHeader-Wrapper {
  width: 100%;
  position: relative;
}
.SubHeader { 
      position: relative;
    margin: 0px;
    padding: 0px;
    break-inside: auto;
    white-space: normal !important;
    word-break: break-word !important;

        font-family: "Ubuntu";
    font-size: 9.7086px;
    line-height: 16.181px;
    margin-bottom: 0px;
    text-transform: none;
    z-index: 1;
    color: rgb(44, 58, 75);
}

.SubHeader--role { 
  
  
}

.CityText {

}

.year-text {

} 
.DraggableElement {
  height: auto;
  width: auto;
}

.StyledBlockItem-sc-c1e580d4-12 {
      padding-top: 30.3879px;
    padding-bottom: 25.7128px;
    display: block;
    break-inside: auto;
}

.ilxAUx{
    z-index: 99;
    padding: 0px 28.0504px;
    break-inside: auto !important;
}

.decoration-range {
    position: absolute;
    width: 10.5189px;
    height: 10.5189px;
    border-radius: 5.84383px;
    left: -5.84383px;
    z-index: 10;
    top: 5.84383px;
    background: rgb(162, 136, 72) !important;
    display: flex;
    flex-direction: column;
}

.RightSide {

}

.role-wrapper {

}

.tasks-wrapper {

}

