  <ng-container>
    <div i18n="@@coursesTitle" class="relative w-full mb-[18px] text-lg uppercase text-primary cursor-default break-inside-avoid">Courses</div>
    <div class="flex flex-wrap items-center w-full relative p-0">
      <ul>
        @for (course of courses; track $index) {
          <li>
            <div class="text-sm mb-1 languages-font font-medium grow text-gray-800">{{ course.name }}</div>
            <div class="text-xs font-thin mb-2" style="color: var(--clr-gray-800)">{{ course.institution }} &mdash; {{ course.date }}</div>
          </li>
        }
      </ul>
    </div>
  </ng-container>