

.experience__role-font {
    font-family: Ubuntu Bold;
  font-size: 12.8564px;
  line-height: 16.3627px;
  margin-bottom: 0px;
  text-transform: uppercase;
  z-index: 1;
  color: rgb(44, 58, 75);
}

.experience__institution-font  {
    font-family: Ubuntu Bold;
  font-size: 14.0252px;
  line-height: 23.3753px;
  margin-bottom: 0px;
  text-transform: none;
  z-index: 1;
  color: rgb(44, 58, 75);
}

.experience__city-font, .experience__timeframe-font {
    font-family: Ubuntu;
  font-size: 14.0252px;
  line-height: 1.33;
  color: rgb(128, 129, 131);
  font-size: 12.8564px;
  text-transform: capitalize;
}

.experience__tasks-font {
    font-family: Ubuntu;
  font-size: 14.0252px;
  line-height: 1.33;
  color: rgb(128, 129, 131);
  position: relative;
  margin: 0px;
  padding: 0px;
  white-space: normal !important;
  word-break: break-word !important;
  break-inside: auto;
}

.experience__decoration-dot {
    position: absolute;
  width: 10.5189px;
  height: 10.5189px;
  border-radius: 5.84383px;
  left: -5.84383px;
  z-index: 10;
  background: rgb(162, 136, 72) !important;
  top: 5.84383px;
}

.experience__tasks-border, .decoration-border {
    /* el tamaño del puntico */
    top: 7.01259px; 
    position: absolute;
  left: -1.16877px;
  right: unset;
  top: 0px;
  bottom: 0px;
  width: 1.16877px;
  background: rgb(162, 136, 72) !important;
}
