:host {
  display: block;
}

.sidebar {
    display: table-cell;
    vertical-align: top;
    width: 32%;
    padding: 35.063px 0px;
    transition: background-color 0.5s;
    max-width: 296.96px !important;
    background-color: rgb(44, 58, 75) !important;
}

