<ng-container>
  <div i18n="@@languagesTitle" class="relative w-full mb-[18px] text-lg uppercase text-primary cursor-default break-inside-avoid text-left">Languages</div>
  <div class="flex flex-wrap items-center w-full relative p-0 flex-col gap-4 mb-2">
    @for (lang of languages(); track $index) {
      <div class="flex flex-col w-full">
        <div class="w-full flex flex-row">
          <div class="h6-primary mb-1 languages-font grow" style="color: var(--clr-gray-800)">{{ lang.name }}</div>
          <div class="h5-primary mb-1 languages-font pr-1" style="color: var(--clr-gray-800)">{{ lang.cefrLevel }}</div>
        </div>
        <div class="w-full h-3 rounded bg-white flex">
          <div
            class="h-3 rounded"
            [ngStyle]="{ width: lang.level + '%', background: 'var(--clr-primary)' }"
          ></div>
        </div>
      </div>
    }
  </div>
</ng-container>
