<ng-container>
  <div i18n="@@linksTitle" class="relative w-full mb-[18px] text-lg uppercase text-primary cursor-default break-inside-avoid">Links</div>
  <div class="flex flex-wrap items-center w-full relative p-0">
    <div class="links-container grid grid-cols-1 grid-rows-2 w-full gap-x-1 gap-y-2 " >
      @for (link of links; track $index) {
        <div>
          <a [href]="link.url" target="_blank" class="text-base underline">{{ link.label }}</a>
      </div>
      }
    </div>
  </div>
</ng-container>
